html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color:#F2F2F2;
  border:none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.connectContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  margin: 0 auto;
  border: none;
  padding:0;
}

.ccpSoftphone iframe {
  border: none;
}

.ccpSoftphone {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.hidden {
  display: none;
}

.round-button{
  display:block
}

.slds-scope .slds-table td, .slds-scope .slds-table th {
  padding: 0px;
}

#callAttributesBadge {
  top: 42px;
  left: 10px;
  position: absolute;
  cursor: pointer;
}
#callAttributesPopover {
  top: 75px;
  left:5px;
  position: absolute;
  width:95%;
  min-width: initial;
  max-height: 170px;
}

.fullHeight {
  height: 100%;
}

/*Utility bar*/
.slds-scope .slds-utility-bar {
  background-color: #f2f2f2;
}

.slds-scope .slds-utility-panel {
  margin: 0% 2% 0% 2%;
  width: 96%;
  height: 80%;
}

.slds-scope .slds-utility-panel__header {
  background-color: #f2f2f2;
}

.slds-scope .slds-utility-panel__body {
  background-color: #f2f2f2;
}
